html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font: 1.6rem Helvetica;
	height: 100vh;
	margin: 0;
	font-family: 'Concert One', cursive;
}

button {
	font-size: 1.6rem;
}

#root {
	height: 100%;
}

.grid-container {
	display: grid;
	grid-template-areas: 'header' 'main' 'footer';
	grid-template-columns: 1fr;
	grid-template-rows: 4em 1fr 4em;
	height: 100vh;
}

.home-header {
	grid-area: header;
	background-color: #afeeee;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0.5rem;
}

.home-navBar ul {
	width: 40rem;
	display: inline-flex;
	justify-content: space-between;
}

.home-navBar li {
	list-style: none;
	display: inline;
	font-size: 20px;
}

/** Footer **/
.footer {
	grid-area: footer;
	background-color: #afeeee;
	display: flex;
	justify-content: center;
	align-items: center;
}

/** Landing Screen **/
.landing-deals {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 100%;
}

.landing-deals ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.landing-deals li {
	list-style: none;
	font-size: 30px;
	margin: 1rem;
}

.landing-order-button {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.landing-order-button button {
	width: 30rem;
	border-radius: 5rem;
	border-style: groove;
	border-width: 1rem;
	border-color: lightsalmon;
	font-size: 3rem;
}

.landing-image img {
	border-radius: 5rem;
}

.landing-store-hours {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.landing-display {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-container {
	width: 50vw;
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	cursor: pointer;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	width: 600px;
	height: 300px;
}

/** Product Screen **/
.product-details {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.product-info li {
	list-style: none;
	margin: 1rem;
	font-size: 25px;
}

.product-action li {
	list-style: none;
	margin: 1rem;
}

.details-action li {
	list-style: none;
}

.details-action button {
	border-radius: 5rem;
}

/** CheckOutSteps **/
.checkout-steps {
	display: flex;
	justify-content: space-between;
	width: 30rem;
	margin: 1rem auto;
}

.checkout-steps > div {
	border-top: 0.3rem #c0c0c0 solid;
	color: #c0c0c0;
	flex: 1 1;
	padding-top: 1rem;
}

.checkout-steps > div.active {
	border-top: 0.3rem #f08000 solid;
	color: #f08000;
}

.placeorder-action-payment > div {
	width: 100%;
}

.menu-products {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-style: solid;
}

.menu-products li {
	list-style: none;
	border-style: solid;
	border-radius: 5rem;
	margin: 1rem auto;
}

.menu-products > ul > h2 {
	display: flex;
	justify-content: center;
	align-items: center;
}

/** Menu Screen **/

.product-category {
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-name {
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-brand {
	display: flex;
	justify-content: center;
	align-content: center;
}

.product-price {
	display: flex;
	justify-content: center;
	align-content: center;
}

.product-info {
	border-style: solid;
	border-radius: 5rem;
}

.details-action {
	border-style: solid;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2rem;
}

.details-action ul {
	padding: 1rem;
}

.details-action li button {
	width: 100%;
	cursor: pointer;
}

.details-action li button:hover {
	font-weight: bolder;
	border-width: 0.4rem;
}
